body {
  width: 500px;
  background-color: #f5deb3;
  margin: auto;
}

h1 {
    font-size: 56px;
    font-weight: bolder;
}

label, p, button {
    font-size: 24px;
}

header {
  text-align: center;
  background-color: red;
  padding: 30px 40px;
}

main {
  /*background-color: yellow;*/
  padding: 5px;
}

form {
  /*background-color: orange;*/
  padding: 5px;
}

form section {
  display: block;
  padding: 3px 0;
}

form input {
  width: 65%;
  height: 20px;
  padding: 0 5px;
  margin: 3px 0;
  /*box-sizing: border-box;*/
}

form input:focus {
  border: 2px solid red;
  border-radius: 4px;
}

form section:last-of-type {
    text-align: center;
}

form button {
  background-color: purple;
  border: none;
  color: white;
  padding: 16px 32px;
  border-radius: 6px;
  text-decoration: none;
  margin: 15px;
  cursor: pointer;
}