$red: #F04D47;
$white: #efece5;
$blue: #51b3bf;

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 500px;
  background-color: $white;
  margin: auto;
}

h1 {
  font-size: 56px;
  font-weight: bolder;
  padding: 30px 0;
  color: $white;
}

label,
p,
button {
  font-size: 24px;
}

header {
  text-align: center;
  background-color: red;
  padding: 30px 40px;
}

#formArea {
  background-color: white;
  padding: 5px;
  border: 1px solid black;
}

form {
  padding: 5px;
  section {
    display: block;
    padding: 3px 0;
  }

  section:last-of-type {
    text-align: center;
  }

  input {
    width: 65%;
    height: 20px;
    padding: 0 5px;
    margin: 3px 0;
    &:focus {
      border: 2px solid red;
      border-radius: 4px;
    }
  }

  button {
    background-color: purple;
    border: none;
    color: $white;
    padding: 16px 32px;
    border-radius: 6px;
    text-decoration: none;
    margin: 15px;
    cursor: pointer;
  }
}

.imgSection {
  position: relative;
  color: $white;
  margin: 15px 0;
  border: 1px solid $white;

  p {
    font-size: 42px;
    font-weight: bold;
  }

  img {
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
  }
}

.topText {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;}

.bottomText {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.imgSection button {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 5px;
  transition: all .25s;
  border: none;
  // transition: color 5s;

  &:hover {
    background-color: $red;
    color: $white;
  }
}


#displayArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}